WIFI_SSID=YOUR_WIFI_NAME
WIFI_PASSWORD=YOUR_WIFI_PASSWORD

MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC_SENSOR=fire/emergency/sensor
MQTT_TOPIC_ALERT=fire/emergency/alert
MQTT_TOPIC_NETWORK=fire/emergency/network

TEMPERATURE_THRESHOLD=50
CAMERA_INDEX=0
YOLO_MODEL=yolo11n.pt

FLASK_HOST=127.0.0.1
FLASK_PORT=5000
